alpn encoding in JSON

Right now I think we call for ALPNs to be encoded in the JSON as an array, so e.g. I think the below is correct:

```
{
 "regeninterval" : 3600,
 "endpoints": [ {
    "priority" : 1,
    "params": {
      "ech": "AD7+DQA6pAAgACCEwPns0OvqWb1eBhJvuZOofJKDJP7bquj3OI1aq/anYAAEAAEAAQALZXhhbXBsZS5jb20AAA==",
      "ipv4hint": "192.0.2.1",
      "ipv6hint": "2001:DB::ec4",
      "alpn" : [ "h2", "http/1.1" ]
    }
 }]
}
```

That's a bit of a pain to produce in my bash script 'cause of the nested arrays, but I'll struggle away and figure it out.

However, I wanted to check if a comma-sep list might not be better as that matches what I think most command line things use, so I'm not sure there's much benefit in our JSON being able to handle oddball escapes etc, or, is that actually needed?

Or, is there some precedent for encoding ALPNs in JSON from elsewhere?

Not sure what 'comma-sep list' would look like. Post an example (just for that field)?

Sure, it'd be:
```
{
 "regeninterval" : 3600,
 "endpoints": [ {
    "priority" : 1,
    "params": {
      "ech": "AD7+DQA6pAAgACCEwPns0OvqWb1eBhJvuZOofJKDJP7bquj3OI1aq/anYAAEAAEAAQALZXhhbXBsZS5jb20AAA==",
      "ipv4hint": "192.0.2.1",
      "ipv6hint": "2001:DB::ec4",
      "alpn" : "h2,http/1.1" 
    }
 }]
}
```

That said I have figured out how to get `jq` to produce the earlier-quoted version, so I don't mind much either way - IOW this is mostly checking what'd be better in general, not to suit my bash script.

Makes no difference to me.  I suppose the array form is more pedantically correct (which is the best kind of correctness:)

ipv4hint and ipv6hint are, technically, a comma-separated list although I don't recall ever seeing multiple addresses. (RFC 9460, Section 7.3, second paragraph) But that can be a single string.  It might be worth mentioning that "multiple addresses can be encoded according to Appendix A of 9460).


> ipv4hint and ipv6hint are, technically, a comma-separated list

ah, right, forgot that

CF do produce >1 IP value, e.g. rte.ie are customers of theirs:
```
$ dig +short https rte.ie
1 . alpn="h3,h2" ipv4hint=104.18.124.28,104.18.125.28 ipv6hint=2606:4700::6812:7c1c,2606:4700::6812:7d1c
```

So (checking) which are we saying is correct for the JSON in that case:

a):  `"ipv4hint": "192.0.2.1,192.0.2.254",`

or,

b): `"ipv4hint": ["192.0.2.1","192.0.2.254"],`


I think "a" is fine, but since @bemasc is a co-author of 9460, I defer to him.

> I think "a" is fine, but since [@bemasc](https://github.com/bemasc) is a co-author of 9460, I defer to him.

Same here

I prefer "b", for consistency with ALPN and future list-valued parameters (which potentially hold arbitrary bytes).  I believe "b" is what we have in the draft.

K, "b)" it is, and so the single-valued case becomes: `"ipv4hints": [ "192.0.2.1" ]`

So no harm to check this before I make a PR for the initial examples, this is what the current [wkech-07.sh](https://github.com/sftcd/wkesni/blob/master/wkech-07.sh) produces:

```
{
  "regeninterval": 3600,
  "endpoints": [
    {
      "priority": 1,
      "params": {
        "ipv4hint": [
          "192.0.2.1",
          "192.0.2.254"
        ],
        "ech": "AD7+DQA6NAAgACCn3zNTeX/WODw14QXgVw5RTGXoFlFJjWa3rjxELT0oXAAEAAEAAQALZXhhbXBsZS5jb20AAA==",
        "ipv6hint": [
          "2001:DB::ec4"
        ],
        "alpn": [
          "h2",
          "http/1.1"
        ]
      }
    }
  ]
}
```

And for an aliasMode:
```
{
 "regeninterval" : 3600,
 "endpoints" : [ {
    "params" : {
      "alias" : "lb.example.com"
    }
 }]
}
```

Do we agree those are correct as per draft-07?


Oops, the alias case there was wrong, it's now:
```
{
 "regeninterval" : 3600,
 "endpoints" : [{
    "alias" : "lb.example.com"
  }]
}
```


Looks good to me!

Grand so. I'll close this and push the above for the next rev of the draft. I'll probably have a few more issues before we shoot out a -08 too, but more as I get to it.